<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63103286176-herclae8bb9d7fda12lclcbbrn05m8ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63103286176-herclae8bb9d7fda12lclcbbrn05m8ui</string>
	<key>API_KEY</key>
	<string>AIzaSyAoP00yFvaLodzrquJ9ccXdd490A5OGeJk</string>
	<key>GCM_SENDER_ID</key>
	<string>63103286176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wowmate</string>
	<key>PROJECT_ID</key>
	<string>wowmate-4c9e7</string>
	<key>STORAGE_BUCKET</key>
	<string>wowmate-4c9e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63103286176:ios:d17bbc01ba4032ab4182c5</string>
</dict>
</plist>